/* CSS reset */
header, body, p, h1, h2, h3, h4, footer{
  padding: 0; 
  margin: 0;
}

/*box model fix here*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; 
}

html{
 background: #3B0E80;
}
#container {
  margin: 0 auto;
  background-color: #1A1780;
  border: none;
  align-items: center;
}

header {
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
}
header img {
  margin: 0 auto;
  display: block;
  max-height: 350px;
  max-width: 350px;
}

/* --- body --- */
main {
  background: #3B0E80;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; 
  font-size: 16px;
}
#div-list {
  background-color: #1A1780;
  margin: 0px 300px 10px 10px;
  padding: 10px 110px 10px 20px;
  
}

#dev-list > h3 {
  font-size:1.25em;
  align-items:center;
}

div img {
  margin: 0px 0px 0px 50px;
  text-align: center;
  align-items:center;
}

#bio {
  background: #3B0E80;
  display: flex;
  margin: 0 auto;
  padding: 0px 0px 10px 10px;
}

#bio img {
  width: 255px;
  height: 255px;
  margin: 12px 10px 0px 20px;
  padding: 2px;
}

#bio-detials {
  flex: 1;
}

h2,
time {
  color: #9bffff;
  font-size: 1.75em;
}
h3{
color: #9bffff;
  font-size: 1.75em;
  margin-left: 15px;
  margin-bottom: 20px;
}
h4{
  font-size:1.5em;
  color: #9bffff;
  font-size: 1.75em;
  margin-bottom:10px;
}
time{
  font-size: 1.5rem;
  padding-right: 40px;
}
span{
  font-size: 32px;
  color: #FFE70B;
}

ul{
  font-size:16px;
  padding: 10px 10px 10px 10px;
  list-style-position: inside;
}
li {
  color: #c6c6c6;
  border: 5px;
  margin: 0px 320px 0px 10px;
  padding: 2px 112px 0px 20px;
}
#namedate{
  display: flex;
  padding: 12px;
  justify-content: space-between;
  }

#tech {
  margin:20px;
  display: flex;
  align-items: baseline;
  display:flex;
  flex-direction:row;
  justify-content:space-between
}

figure{
  display: flex;
  flex-direction: column;  
  flex-grow: 2;
  
  margin-top: 30px;
  
  padding: .5rem;
  max-width:195px; 
  max-height: 250px;
}
  
figure.logo{
  
  padding: .5rem;
  width:350px; 
  height: 350px;  
}
figure img{
  flex-Grow:2;
  margin: 0 auto;
  max-width:190px; 
  max-height: 190px;
  
}
figcaption{
  color: #fff;
  border: 1px solid white;
  text-align: center;
  background:rgba(3,3,3,0.5);
  position: relative;
  width: 190px;
  bottom: 57px;
  padding: 10px;
}  

#interests{
  color: white;
  background-color: #1A1780;
  margin:0px 10px 20px 10px;
  padding:15px;
}

footer{
  color:#98effe;
  font-size:1.25em;
  text-align: center;
  margin-bottom:20px;
}
  
 
